[submodule "test_resources"]
	path = test_resources
	url = https://github.com/puyoai/test-resource.git
[submodule "src/third_party/tinytoml"]
	path = src/third_party/tinytoml
	url = https://github.com/mayah/tinytoml.git
